:root {
  --dark-bg: #2a2a2a;
  --darker-bg: #1a1a1a;
  --text-color: #ffffff;
  --light-green: #06ac7d;
  --hover-color: #3a3a3a;
}

.admin-results-container {
  min-height: 93vh;
  margin: 4vh;
  max-width: 70%;
  margin-left: 15%;
}

/* body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
} */

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 5px;
}

.year {
  font-size: 4em;
  color: var(--light-green);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1vh;
}

.organizer {
  margin-bottom: 2vh;
}

.green {
  color: var(--light-green);
}

.intro-and-results {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.intro-text {
  text-align: center;
  color: #ccc;
  font-size: 1.1em;
  padding: 10px 0;
}

.election-results {
  flex-grow: 1;
  background-color: var(--darker-bg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.election-results h3 {
  font-size: 1.3em;
  padding: 20px 30px 10px;
  margin: 0;
  font-weight: 500;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.candidate-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-top: 1px solid #333;
  transition: background-color 0.2s, transform 0.2s;
}

.candidate-item:hover {
  background-color: var(--hover-color);
}

.candidate-item.winner {
  background: linear-gradient(90deg, #1a1a1a, #004d26);
  border-left: 4px solid var(--light-green);
}

.candidate-info {
  display: flex;
  align-items: center;
  width: 40%;
}

.photo-candidate {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.name {
  font-weight: bold;
}

.union {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  width: 15%;
  text-align: right;
  color: #aaa;
}

.union-logo {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  border-radius: 100%;
}

.percentage {
  font-size: 1.2em;
  font-weight: bold;
  width: 15%;
  text-align: right;
}

.win-percent {
  color: var(--light-green);
}

@media (max-width: 768px) {
  .candidate-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .candidate-info {
    width: 100%;
    margin-bottom: 10px;
  }

  .union, .percentage {
    width: auto;
    text-align: left;
  }

  .union-logo {
    margin: 10px 0;
  }
}